<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>
<body>
    <h1>Socket.IO Chat</h1>
    <ul id="chatMessages"></ul>
    <input type="text" id="messageInput" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>

    <button onclick="getMessageList()">Get message list</button>

    <button onclick="getChatHistory()">Get Chat history</button>

    <!-- inputField.on('keypress', () => {
        socket.emit('typing', { senderId, receiverId });
      });
      
      inputField.on('keyup', () => {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(() => {
          socket.emit('stop typing', { senderId, receiverId });
        }, typingDelay);
      }); -->

    <script>
        const socket = io('http://localhost:3000');

        const urlParams = new URLSearchParams(window.location.search);
        const senderId = urlParams.get('senderId'); 
        const receiverId = urlParams.get('receiverId');

        function appendMessage(message) {
            const chatMessages = document.getElementById('chatMessages');
            const messageItem = document.createElement('li');
            messageItem.textContent = message;
            chatMessages.appendChild(messageItem);
        }

        socket.on('connect', () => {
            console.log('Connected to server');
            socket.emit('join', senderId);
        });

        socket.on('new message', (message) => {
            console.log('Received message:', message);
            appendMessage(message);
        });

        socket.on('chat heads', (message) => {
            console.log('Received list:', message);
        });

        socket.on('message history', (message) => {
            console.log('chat history', message);
        });


        socket.on('user online', (userId) => {
            console.log(`User ${userId} is online`);
        });

        socket.on('user offline', (userId) => {
            console.log(`User ${userId} is offline`);
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });

        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value.trim();

            if (message !== '') {
                socket.emit('send message', { senderId,receiverId,message });
                messageInput.value = '';
            }
        }

        function getMessageList(){
            socket.emit('get chat heads', { senderId,page:1 });
        }

        function getChatHistory(){
            socket.emit('get messages', { senderId,receiverId,page:1 });
        }

    </script>
</body>
</html>

